*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

:root {
  --clr-accent: #5e9c59;
  --fw-bold: 700;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 4em;
}

.act-list-title {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
}

.selected {
  position: relative;
  margin-bottom: 2em;
}

.selected::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -1em;
  left: 0;
}

.act-list {
  width: 30%;
  margin: 0 auto;
}

.labels {
  text-transform: uppercase;
  font-size: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2em auto;
  padding: 0 1em;
}

.pts-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}

.act {
  background-color: var(--clr-accent);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  margin-bottom: 2em;
  text-transform: capitalize;
}

.act a {
  text-decoration: none;
  color: black;
  font-weight: var(--fw-bold);
}
