* {
    font-family: 'Inter', sans-serif;
}

.header {
    background-color: #5E9C59;
    height: 100px;
    width: 100%;
    border-width: 3px;
    top: 0%;
    left: 0%;
    position: sticky;
    line-height: 100px;
}

.backButton{
    flex-direction: row;
    width: 3em;
    height: 100%;
    vertical-align: middle;
    padding-top: 30px;
    padding-inline: 20px;
    float: left;
}


.reportButton {
    padding-top: 30px;
    line-height: 140px;
    flex-direction: row;
    width: 3em;
    height: 100%;
    vertical-align: middle;
    padding-inline: 20px;
    float:right;
}

.helpButton {
    padding-top: 30px;
    line-height: 140px;
    flex-direction: row;
    width: 3em;
    height: 100%;
    vertical-align: middle;
    padding-inline: 20px;
    float:right;
}


.homeButton {
    padding-top: 30px;
    line-height: 140px;
    flex-direction: row;
    width: 3em;
    height: 100%;
    vertical-align: middle;
    padding-inline: 20px;
    float: right;
}

.activityName {
    text-align: center;
    font-size: large;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 20px;
}

.lineBreak{
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: grey;
    opacity: 20%;
    padding-bottom: 1px;
    width: 50%;
    height: 1px;
    z-index: 3;
}

.InfoContainer{
    
    justify-content: left;
    align-items: left;
    padding-bottom: 40px;
    text-align: left;
    
}

.descriptionContainer {
    text-align: left;
    padding-bottom: 10px;
}

.instructionsContainer{
    padding-bottom: 10px;
    text-align: left;
    justify-content: left;
    align-items: left;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.nextButton{
    background-color: #5E9C59;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: large;
    border-radius: 8px;
    box-shadow: 1px 1px 1px black;
}