* {
    font-family: 'Inter', sans-serif;
}

.header {
    background-color: #5E9C59;
    height: 100px;
    width: 100%;
    border-width: 3px;
    /* top: 0%;
    left: 0%; */
    position: fixed;
    /* line-height: 100px; */
}

.backButton{
    flex-direction: row;
    width: 40px;
    height: 100%;
    vertical-align: middle;
    /* float:left; */
    padding-top: 30px;
    padding-inline: 20px;
}

.reportButton {
    /* padding-top: 30px; */
    /* line-height: 140px; */
    flex-direction: row;
    /* width: 40px; */
    /* height: 100%; */
    vertical-align: middle;
    padding-inline: 20px;
    float:right;
}

.homeButton {
    padding-top: 30px;
    line-height: 140px;
    flex-direction: row;
    width: 40px;
    height: 100%;
    vertical-align: middle;
    padding-inline: 20px;
    float:right;
}

.helpButton {
    padding-top: 30px;
    line-height: 140px;
    flex-direction: row;
    width: 40px;
    height: 100%;
    vertical-align: middle;
    padding-inline: 20px;
    float:right;
}

.activityName {
    text-align: center;
    font-size: large;
    font-weight: 900;
    padding-top: 100px;
}

.lineBreak{
    width: 50%;
    height: 3px;
    background-color: grey;
    opacity: 20%;
}

.InfoContainer{
    padding-bottom: 40px;
}

.description{
    padding-bottom: 10px;
}

.instructions{
    padding-bottom: 10px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextButton{
    background-color: #5E9C59;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: large;
    border-radius: 8px;
    box-shadow: 1px 1px 1px black;
}