*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

:root {
  --clr-accent: #5e9c59;
  --fw-bold: 700;
}

body {
  display: flex;
  flex-flow: column wrap;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
}

.score {
  font-size: 1.5rem;
}

.act-list-title {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.selected {
  position: relative;
  margin-bottom: 2em;
}

.selected::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -1em;
  left: 0;
}

.act-list {
  width: 80%;
  margin: 3em auto;
}

.labels {
  text-transform: uppercase;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2em auto;
  padding: 0 1em;
}

.pts-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 40%;
}

.help-button {
  width: 20px;
  height: 20px;
  margin-right: 1em;
}

.help-button:hover {
  cursor: pointer;
}

.back-button {
  width: 3em;
  height: 3em;
}

.icon-report {
  width: 3em;
  height: 3em;
}

.act {
  background-color: var(--clr-accent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  margin-bottom: 3em;
  text-decoration: none;
  color: black;
  font-weight: var(--fw-bold);
  text-transform: capitalize;
}

.act-name {
  max-width: 70%;
}

.act-list-title p {
  text-align: center;
}

.xButton {
  color: black;
  position: absolute;
  left: 1rem;
}

.help-popup {
  /* background-color: #E5E9EC; */
  position: relative;
}

.help-header {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: 2.5%;
  display: flex;
  justify-content: center;
}

.help-header::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -1em;
  left: 0;
}

.help-question {
  font-weight: bold;
}

.help-question-answer {
  font-size: 16px;
  margin-top: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
  overflow-wrap: normal;
}

@media (min-width: 40em) {
  body {
    font-size: 1.5rem;
  }
  header {
    max-width: 40rem;
    margin: 0 auto;
  }
  .score {
    font-size: 2rem;
  }
  .act-list {
    max-width: 40rem;
  }
  .labels {
    font-size: 1rem;
  }
}
